@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container{
    background: rgba(39, 9, 173, 0.787);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


body{
    background: url('https://cdn.shopify.com/s/files/1/2198/0277/products/2001111-2_2400x.jpg?v=1571716860');
}

h1{
    color: rgb(247, 230, 0);
    font-family: 'Permanent Marker', cursive;
    /* font-size: 45px; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Rock Salt', cursive; */
    font-size: 45px;
}

.bd-footer-links li {
    display: inline-block;
}

/* li {
    text-align: center;
} */

ul{
    list-style-type: none;
}

/* .bd-footer {
    flex-direction: row;
    /* text-align: center; } */


footer{
    margin-top: 100px;
    background: rgba(39, 9, 173, 0.787);
    /* padding-top: 40px; */
}

/* carosel section */

.space{
    margin-right: 50px;
}

/* .UFO{
    padding-bottom: 55px;
} */


/* .carousel-item{
    max-width: 1000px;
    max-height: 600px ;
    margin-right: auto;
    margin-left: auto;
} */

/* The first carosel slide */
/* .jock{
   margin: auto;
   
    box-shadow: 15px 15px rgba(0, 0, 0, 0.705);
} */


.d-block{
    color: rgb(255, 38, 0);
    font-size: 50px;
}


.carousel-control-prev-icon {
    height: 20%;
    top: 33%;
    width: 60px;
}
.carousel-control-next-icon {
    height: 50%;
    top: 33%;
    width: 80px;
}

.jock {
    width: 50%;
    margin: auto;
}